absl-py==2.1.0
addict==2.4.0
alembic==1.13.1
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
Automat==22.10.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
Brotli @ file:///croot/brotli-split_1714483155106/work
buildtools==1.0.6
cachetools==5.3.3
causal-conv1d @ file:///home/shy/codes/whls/causal_conv1d-1.1.1%2Bcu118torch2.0cxx11abiFALSE-cp38-cp38-linux_x86_64.whl#sha256=721fd888a3bed5d2b995ffb578ff537956c396ccb49f16551c123cb29583186f
certifi==2022.12.7
channelnorm-cuda==0.0.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cmake==3.28.3
colorama==0.4.6
colorlog==6.8.2
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
constantly==23.10.4
contourpy==1.1.1
correlation-cuda==0.0.0
cycler==0.12.1
Cython==0.29.24
data==0.4
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dhg @ git+https://github.com/mkkk1112/DeepHypergraph@f063d5fef265cb9a4f9ca96a6edcd2ebbe500122
docopt==0.6.2
easydict==1.9
einops==0.7.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
ffmpeg-python==0.2.0
filelock==3.13.1
fonttools==4.50.0
fsspec==2024.3.1
funcsigs==1.0.2
furl==2.1.3
future==1.0.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
googledrivedownloader==0.4
greenlet==3.0.3
grpcio==1.62.1
huggingface-hub==0.23.2
hyperlink==21.0.0
idna==3.4
imageio==2.14.0
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1709821103657/work
importlib_resources==6.3.2
incremental==22.10.0
ipdb==0.13.9
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1708996548741/work
ipython==7.28.0
ipython-genutils==0.2.0
isodate==0.6.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.4
joblib==1.3.2
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1710255804825/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1710257397447/work
kiwisolver==1.4.5
latex==0.7.0
lit==18.1.1
llvmlite==0.37.0
Mako==1.3.5
mamba-ssm @ file:///home/shy/codes/whls/mamba_ssm-1.1.3%2Bcu118torch2.0cxx11abiFALSE-cp38-cp38-linux_x86_64.whl#sha256=04c7506b0ee734c4c739da0843d0660400de4d244ef21bedc0b37ebc3770de76
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.4.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mmcv==1.3.14
mpmath==1.3.0
natsort==8.4.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==2.6.3
ninja==1.11.1.1
numba==0.54.1
numpy==1.20.3
nvidia-ml-py==12.535.133
nvitop==1.3.2
oauthlib==3.2.2
opencv-python==4.5.4.58
optuna==3.6.1
orderedmultidict==1.0.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas==2.0.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1706713388748/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1702399386289/work
protobuf==3.20.0
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1705722395397/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1700607939962/work
pyparsing==3.1.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-louvain==0.16
pytz==2024.1
PyWavelets==1.4.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
rdflib==7.0.0
redo==2.0.4
regex==2023.12.25
requests==2.28.1
requests-oauthlib==2.0.0
resample2d-cuda==0.0.0
rsa==4.9
safetensors==0.4.2
SciencePlots==2.1.1
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.10.1
seaborn==0.11.2
setproctitle==1.3.3
shutilwhich==1.1.0
simplejson==3.19.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
SQLAlchemy==2.0.28
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
sympy==1.12
tempdir==0.7.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.4
termcolor==2.4.0
threadpoolctl==3.3.0
tifffile==2023.7.10
timm==0.9.16
tokenizers==0.19.1
toml==0.10.2
torch @ file:///home/shy/codes/whls/torch-2.0.0%2Bcu118-cp38-cp38-linux_x86_64.whl#sha256=1f8efaebfcbb7ec3962fd8c7c3be02c6666eff53a12043006a749d647656163e
torch-cluster @ file:///home/shy/codes/whls/torch_cluster-1.6.1%2Bpt20cu118-cp38-cp38-linux_x86_64.whl#sha256=6cfc6c682bbf0d4cf5601a55e6e2f32c64302b5f6e83af3820f13038e86587fd
torch-geometric==1.7.2
torch-scatter @ file:///home/shy/codes/whls/torch_scatter-2.1.1%2Bpt20cu118-cp38-cp38-linux_x86_64.whl#sha256=60d5bceee7ada073c8f5d3e290a7bb0a4df303d3c9dcce6072f2d79b371e84c1
torch-sparse @ file:///home/shy/codes/whls/torch_sparse-0.6.17%2Bpt20cu118-cp38-cp38-linux_x86_64.whl#sha256=e0fa2c95bb980cbb43574847172895a73c4214716197982f9415f9f97ae6e131
torchaudio==2.0.1+cu118
torchsummary==1.5.1
torchvision==0.15.1+cu118
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1708363076094/work
tqdm==4.62.3
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1710254411456/work
transformers==4.41.1
triton==2.0.0
Twisted==24.3.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1708904622550/work
tzdata==2024.1
urllib3==1.26.13
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
Werkzeug==3.0.1
yapf==0.40.2
youtube-dl==2021.6.6
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zope.interface==6.2
